body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #fff;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    margin-bottom: 0;
}
a {
    text-decoration: none;
    color: currentColor;
}

ul, ol {
    list-style: none;
    padding: 0;
    margin: 0;

}

button {
   cursor: pointer;
}

img {
    display: block;
    max-width: 100%; 
    height: auto;
}

.header {
    border-bottom: 1px solid #E7E9FC;
}

.container {
    max-width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
}

.header-container {
    display: flex;
    align-items: center;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
/*-------------HEADER-------------*/
.navigation {
    display: flex;
    align-items: center;
}

.logo {
    color: #4D5AE5;
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-right: 76px;
}

.logo-part {
    color: #2E2F42;
}

.nav-list {
    display: flex;
    gap: 40px;
}

.nav-link {
    color: #2E2F42;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding: 24px 0;
    display: block;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link:hover,
.nav-link:focus {
    color: #404BBF;
}

.current {
position: relative;
color: #404BBF;
}

.current::after {
content: "";
position: absolute;
left: 0;
bottom: -1px;
background-color: #404BBF;
border-radius: 2px;
height: 4px;
width: 100%;
}

.address {
    font-style: normal;
    margin-left: auto;
}

.address-list {
    display: flex;
    gap: 40px;
}

.address-link {
    color: #434455;
    font-size: 16px;
    line-height: 1.5em;
    letter-spacing: 0.02em;
    transition: color cubic-bezier(0.4, 0, 0.2, 1);
}

.address-link:hover,
.address-link:focus {
    color: #404BBF;
}

/*------------HERO--------------*/
.hero {
   background-color: #2E2F42;
   padding: 188px 0 188px 0;
}

.hero-container {
    flex-shrink: 0;
}

.hero-title {
    color: #FFF;
    text-align: center;
    font-family: Roboto;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07em;
    letter-spacing: 0.02em;  
    max-width: 496px; 
    margin: 0 auto 48px;
}

.hero-btn {
    background: #4D5AE5;
    color: #FFF;
    font-family: inherit;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5em;
    letter-spacing: 0.04em;
    border: none;
    border-radius: 4px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    cursor: pointer;
    min-width: 169px;
    padding: 16px 32px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.hero-btn:hover,
.hero-btn:focus {
    background-color: #404BBF;
}

/*-----------FEATURES-----------*/
.features {
    padding-top: 120px;
    padding-bottom: 120px;
}

.features-title {
   
}

.features-list {
    display: flex;
    gap: 24px;
}

.features-item {
    flex-basis: calc((100% - 24px * 3) / 4);
}

.features-item-title {
    color: #2E2F42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2em;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}

.features-item-text {
    color: #434455;
    font-size: 16px;
    line-height: 1.5em;
    letter-spacing: 0.02em;
}

/*-----------------TEAM-------*/

.team {

}

.team {
    background:#F4F4FD;
    padding-top: 120px;
    padding-bottom: 120px;
}

.team-title {
    color: #2E2F42;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.team-list {
    display: flex;
    gap: 24px;  
}

.worker-container {
    padding: 32px 0 32px 0;
}

.team-item {
    background: #FFF;
    border: none;
    border-radius: 0px 0px 4px 4px;
    background: #FFF;
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.team-img {
    
}

.team-item-title {
    color: #2E2F42;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2em;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}

.team-item-text {
    color: #434455;
    text-align: center;
    font-size: 16px;
    line-height: 1.5em;
    letter-spacing: 0.02em;
}

.portfolio {
    padding: 120px 0 120px 0;
}

.portfolio-title {
    color: #2E2F42;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.1;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.portfolio-list {
    width: 1128px;
    flex-shrink: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 48px 24px;
}

.portfolio-item {
    background: #FFF;
    width: 360px;
    width: calc((100% - 24px * 2) / 3);
    border: 1px solid #e7e9fc;
    border-top: none;
}

.portfolio-img {
    
}

.portfolio-item-title {
    color: #2E2F42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2em;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}

.portfolio-item-box {
    padding: 32px 16px;
    
}

.portfolio-item-text {
    color: #434455;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    
}

/*----------FOOTER---------*/
.footer {
    background-color:#2E2F42;
    flex-shrink: 0;
    padding-top: 100px;
    padding-bottom: 100px;
}

.logo {
    color: #4D5AE5;
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.footer-container {
    display: inline-block;
    flex-shrink: 0;
    margin-bottom: 16px;
}

.footer-logo-part {
    color: #F4F4FD;
}

.footer-text {
    color: #F4F4FD;
    font-size: 16px;
    line-height: 1.5em;
    letter-spacing: 0.02em;
    max-width: 264px;
}